
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkmagenta;
}

.progress {
    margin: 100px 50px;
    display: flex;
    align-items: center;
}

.progress_wrap {
    width: 500px;
    height: 24px;
    border: solid 1px black;
    border-radius: 10px;
}


.progess_in {
    background-color: yellow;
    height: 24px;
    border-radius: 10px;
    width: 50%;
    margin: 10px;
}